.hero-banner {
     position: relative;
     width: var(--section_width);
     height: 100vh;
}


.slide {
    width: 100%;
    overflow: hidden;
}
.slide .slide_image {
    width: 100%;
   border-top-right-radius: var(--slide_radius);
   border-bottom-right-radius: var(--slide_radius);
   aspect-ratio: 1/var(--slider_height);
   object-fit: cover;
   display: block;
}

.hero-banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
   
}

.hero-banner-content .page-width {
  height: 100%;
}
.hero-header-feature-search-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
}

.heading {
    font-size: var( --hero_heading_size );
    color: var( --hero_heading_color );
    max-width: var( --hero_heading_width );
    margin: 0px;
}

.sub-heading {
    font-size: var(--hero_sub_heading_size);
    color: var(--hero_sub_heading_color);
    max-width: var(--hero_sub_heading_width);
    margin: 0px;
    line-height: var(--hero_sub_heading_line_height);
}

/* feature-buttons-and-search-bar */

.feature-buttons-and-search-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Features Buttons Styles */



.hero-feature-buttons {
    display: flex;
    gap: var(--hero_features_button_gap);
}

.feature-button-1 {
    display: flex;
    gap: 12px;
    background-color: var(--feature_button_bg_1);
    border-radius: var(--feature_button_radius_1);
    color: var(--feature_button_text_color_1);
    padding: var(--feature_button_padding_1);
    text-align: center;
    align-items: center;
}
.feature-button-2 {
    display: flex;
    gap: 12px;
    background-color: var(--feature_button_bg_2);
    border-radius: var(--feature_button_radius_2);
    color: var(--feature_button_text_color_2);
    padding: var(--feature_button_padding_2);
    text-align: center;
    align-items: center;
}

.feature-button-text-1 {
    margin: 0px;
}
.feature-button-text-2 {
    margin: 0px;
}





/* Search Bar Style */

.search-bar-container {
    display: flex;
    justify-content: space-between;
    padding: var(--search_bar_padding);
    background-color: var(--search_bar_bg);
    border-radius: var(--search_bar_radius);
}

.icon_and_heading {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-bar-button {
    display: flex;
    gap: 12px;
    background-color: var(--search_bar_button_bg);
    border-radius: var(--search_bar_button_radius);
    padding: var(--search_bar_button_padding);
    align-items: center;
}
.search_bar_button_text {
    margin: 0;
    color: var(--search_bar_button_text_color);
}
